{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui segments">
        <div class="ui segment">
            <p>{{ articleId.title }}</p>
        </div>
        <div class="ui secondary segment">
            <p>{{ articleId.content }}</p>
            <div class="ui circular segment"  style="float: right">
                Date de publication
                <div class="ui right aligned segment">
                    {{articleId.date.format('d-m-y à H:i') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

